body {font-family: Arial, Helvetica, sans-serif;}


.viewRecipe {

    position:fixed;
    top:15%;
    left:45%;
    width:500px;

    
}

h1{
    color: red;
}

.viewRecipe li {
    list-style-type: decimal;
    text-align: left;
        margin: 10px 0;
      padding-left: 10px;

}

