body{
    background-color: rgb(143, 216, 238);
}

.App .header input {
padding: 10px;
font-size: 16px;
border: 2px solid white;
width: 165px;
}


.App .header button {

    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #fff;
    border: 2px solid #0066FF;
}

.App .header button:hover {

background-color: #003399;
border: 2px solid #003399;
}

.App .theList li {

    color: #333;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    list-style: none;
    width: 300px;
    margin-left: 120px;
    display: inline-block;

}

ul .theList {

    padding: 0;
    width: 190px;

}

.theList button {

display: inline;

}